.hasIcon {
    svg {
        @apply mr-2;
    }
}

.needsEditing{
    &::before{
        content: 'Needs Updating';
        top: -2px;
        transform: translate(0, -100%);
        background-color: var(--color-warning);
        color: var(--color-text-dark);
        @apply absolute py-1 px-2 right-2 rounded-t-md text-sm;
    }
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    &::-ms-expand {
        display: none;
    }
}
.select::-ms-expand {
    display: none;
}